page-home {
/*  .fixed-content {
    background: url('https://scontent-sea1-1.xx.fbcdn.net/v/t34.0-12/22710028_10207523404082285_1946947801_n.jpg?oh=94640842a1f7c796d2213d4cfc7a12ab&oe=59EEE755') no-repeat;
    background-size: 100%;
  }*/

  .home {
    background: linear-gradient(to bottom,  #000 0%, #fff 100%);
  }
}


